/* Media query for mobile devices */

@media screen and (max-width: 480px){
    #maincontainer{
        width: 90%;
        margin-top: 10px;
    }

    .subContainers{
        padding: 10px;
        flex-direction: column;
    }

    .contact{
        font-size: 60%;
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .title{
        position: static;
        text-align: center;
        margin-top: 10px;
    }

    .summary, .tableContainer {
        margin-top: 20px;
    }

    .contactForm label {
        margin-bottom: 10px;
    }
}